<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >


<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

        <servlet>
          <servlet-name>dispatcher</servlet-name>
          <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
          <load-on-startup>1</load-on-startup>
          <!-- due to this, dispatcher sevlet creates at the time of deployment -->
        </servlet>
        <servlet-mapping>
          <servlet-name>dispatcher</servlet-name>
          <url-pattern>/</url-pattern>
        </servlet-mapping>

        <filter>
          <filter-name>springSecurityFilterChain</filter-name>
          <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        </filter>
        <filter-mapping>
          <filter-name>springSecurityFilterChain</filter-name>
          <url-pattern>/*</url-pattern>
        </filter-mapping>

        <!-- If there is no filter bean, then there will be no security and authorization
            Once, this filter bean, there should be http security configuration.
            It is done in configure(HttpSecurity) of security config file
        -->
</web-app>



        <!--  What's going on here...... -->
        <!--	In general, we use web.xml to request servlets or pages based on url
                But here, we send requests to DispatcherServlet, which is inbuilt class of spring-mvc framework.
                That DispatcherServlet, will use the dispatcher-servlet.xml to create beans, and configure annotations.
                And based on those annotations, it will send request to certain beans.

                Unlike in spring-core, here we dont create application context and close it.
                spring-mvc takes care of it.
        -->